div {
    height: 50px;
    width: 50px;
    background-color: pink;
}

@media (width : 600px) {
    div {
        background-color: blueviolet;
    }
}

@media (min-width : 600px) {
    div {
        background-color: cadetblue;
    }
}

@media (min-width : 200px) and (max-width : 400px) {
    div {
        background-color: sienna;
    }
}