div {
    height: 100px;
    background-color: pink;
    width: 200px;
    border: 3px;
    border-style: solid;
    border-color: black;
}

h1 {
    width: 200px;
    height: 50px;
    background-color: aquamarine;
}