div {
    height: 100px;
    background-color: pink;
    width: 200px;
    border: 3px solid gray; /*border shorthand*/
    /* border-radius: 10%; */
    /* padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px; */
    padding: 2px 3px 5px 10px; /*shorthand  top|right|bootom|left -> clockwise*/
    /* margin-top: 35px;  */
    margin: 10px 20px 30px 35px;/*shorthand  top|right|bootom|left -> clockwise*/
}