p {
    /* text-align: center; */
    text-align: center; /* in english means left*/
    /* text-decoration: line-through; */
}

a {
    text-decoration: none;
}

#h1 {
    font-weight: 100;
}

#h2 {
    font-weight: 240;
}

#h3 {
    font-weight: 500;
}

#h4 {
    font-weight: 900;
}