#box1 {
    height: 100px;
    width: 200px;
    background-color: olive;
    font-size: 10px;
}

#box2 {
    height: 50px;
    width: 30%;
    background-color: orange;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
}