* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navBar {
    height: 60px;
    background-color: #0F1111;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon-logo.png");
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* show full image without cropping */
    background-color: #0F1111; /* fills empty space with navbar color */
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}