div {
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}

#box1 {
    background-color: royalblue;
}

#box2 {
    background-color: olive;
    visibility: hidden;
}

#box3 {
    background-color: rosybrown;
}

h1 {
    display: none;
}