div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid brown;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s; */
    transition: all 2s ease-in 1s;
}

div:hover { /*how to change state*/
    background-color: burlywood;
    color: brown;
    font-size: 20px;
}

div:active {
    background-color: pink;
    color: darkblue;
    font-size: 25px;
}