div {
    height: 100px;
    background-color: pink;
    width: 200px;
    border: 3px;
    border-style: solid;
    border-color: gray;
}

h1 {
    width: 200px;
    height: 50px;
    background-color: aquamarine;
     border: 2px;
    border-style: dotted;
    border-color: rgb(201, 103, 103);
}