div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s; */
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 2s ease-in;
    /* transform: rotate(90deg); */
    /* transform: scale(2); */
}

div:hover { /*how to change state*/
    /* background-color: cadetblue;
    color: brown;
    font-size: 20px; */
    /* transform: translateX(200px); */
    /* transform: translate(100px , 80px); */
    transform: skew(30deg);
}

div:active {
    background-color: pink;
    color: darkblue;
    font-size: 25px;
}