body {
    text-align: center;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    /*flex direction row means main(horizontal) axis is left to right
    row-reverse means  main axis is right to left
    column means main axis will be vertical and top to bottom
    column-reverse means main axis will be vertical and bottom to top
    and cross axis is 90 degree means in row case cross axis is vertical
    in columns case cross axis is horizontal*/
}

#box1 {
    background-color: pink;
}

#box2 {
    background-color: cadetblue;
}

#box3 {
    background-color: chocolate;
}

#box4 {
    background-color: crimson;
}

#box5 {
    background-color: darkgreen;
}