p {
    /* text-align: center; */
    text-align: center; /* in english means left*/
    /* text-decoration: line-through; */
}

a {
    text-decoration: none;
}

#one {
    font-family: arial;
}

#two {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}