div {
    height: 100px;
    background-color: pink;
    width: 200px;
    border: 3px solid gray; /*border shorthand*/
    text-align: right;
}

h1 {
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    border-width: 2px;
    border-style: dotted;
    text-align: center;
    border-color: rgb(201, 103, 103);
    border-radius: 10%;
}