div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s; */
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 2s ease-in 1s;
    transform: rotate(90deg);
}

div:hover { /*how to change state*/
    background-color: cadetblue;
    color: brown;
    font-size: 20px;
}

div:active {
    background-color: pink;
    color: darkblue;
    font-size: 25px;
}