div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: colorAnimate;
    animation-duration: 0.25s;
    /* animation-timing-function: ease-in; */
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes colorAnimate {
    from { background-color: aquamarine;}
    to { background-color: pink;}
}

div:hover { 

}

